<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="DMC Native Reader v6"
        android:theme="@style/AppTheme">

        <!--
          Java sources remain in the stable com.dmcrengine.nativeviewer namespace,
          while applicationId moved in v6 to com.dmcrengine.nativereader to escape
          the legacy v2/v3 signing-key conflict. Use a fully-qualified class name so
          Android launches the real class regardless of applicationId.
        -->
        <activity
            android:name="com.dmcrengine.nativeviewer.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".DmcResourceOpenHandler"
            android:targetActivity="com.dmcrengine.nativeviewer.MainActivity"
            android:enabled="true"
            android:exported="true"
            android:label="DMC Native Reader v6">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="application/vnd.dmc.scm" />
                <data android:mimeType="application/vnd.dmc.mod" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-mod" />
                <data android:mimeType="application/x-scm" />
                <data android:mimeType="application/mod" />
                <data android:mimeType="application/scm" />
                <data android:mimeType="audio/mod" />
                <data android:mimeType="audio/x-mod" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:scheme="content" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:scheme="file" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
